if [ ! -f .envrc-private ]; then
    echo '#!/bin/bash' > .envrc-private
    echo '# place token obtained from triplydb.com here' >> .envrc-private
    echo 'export TOKEN=' >> .envrc-private
fi 
source_env .envrc-private
